@import "../../../general";

.wrapper {
  padding-left: 72px;
  min-height: 100vh;

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 35px;
    height: calc(100vh - 52px);

    .group {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .logo {
      margin-bottom: 8px;
    }

    .activeNavLink {
      background-color: $background;
    }

    img {
      width: max-content;
    }

    .item {
      border-radius: 50%;
      display: block;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 28px;
    }
  }

  .contentWrapper {
    box-sizing: border-box;
    // background: $background;
    min-height: 100vh;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 0 8px 36px 48px;

    .top {
      display: flex;
      justify-content: space-between;

      .title {
        padding-top: 36px;

        h2 {
          color: $black;
          font-size: 36px;
          line-height: 40px;
          margin: 0;
        }
      }

      .user {
        padding-top: 24px;
        display: flex;
        cursor: pointer;
        position: relative;
        height: 52px;

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-right: 24px;
          width: 100px;

          p {
            font-size: 14px;
            white-space: nowrap;
          }

          span {
            font-size: 12px;
          }
        }

        img {
          width: 48px;
          height: 48px;
          border-radius: 24px;
        }

        .schevronWrapper {
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 13px;
        }

        .rightMenu {
          position: absolute;
          bottom: -136px;
          right: 0;
          padding: 0 23px;
          background-color: white;
          box-shadow: 0px 12px 24px rgba(37, 41, 51, 0.12);
          border-radius: 12px;
          font-size: 14px;
          z-index: 10;

          div {
            padding: 14px 0;
          }

          .link {
            cursor: pointer;
          }

          a {
            color: black;
            text-decoration: none;

            &:hover {
              color: black;
              text-decoration: none;
            }
          }

          .switch {
            border-top: 1px solid $light-gray-border;
            display: flex;
            align-items: center;

            span:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
