@import '../../../general';

.yearsRow {
  display: flex;
  margin-bottom: 24px;

  .singleYear {
    margin-right: 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.012em;
    width: 51px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
  }

  .previousYear {
    color: $font-black;
  }

  .nextYear {
    background-color: $accent-10;
    color: $font-black;
  }

  .activeYear {
    background-color: $accent-60;
    color: $background;
  }
}
