$background: #ffffff;
$side-background: #e1e5eb;
$comment-background: #fcfcfd;
$black: #222429;
$font-black: #2a2e33;
$accent-10: #eff1f5;
$gray-10: #f8fafd;
$gray-40: #b4bbc6;
$gray-40-2: #798599;
$input-border: #e1e5eb;
$light-gray-border: #e1e5eb;
$gray-border: #cfd4dc;
$accent-60: #2196f3;
$checkbox-border: #919da8;
$dark-theme-menu: #2b3845;
$dark-theme-background: #232a32;
$dark-theme-checkbox: #2f3540;
$dark-theme-checkbox-border: #5a616f;
$dark-theme-metrics: #2f3540;
$fact-line: #26c6da;
$obligo-line: #ff7043;
$forecast-line: #d4e157;
$legend-text: #001424;
$accent-40: #64b5f6;
$accent: #42a5f5;
$accent-90: #1565c0;
$disabled-input: #f3f3f3;
$success: #4caf50;
$warning-color: #fdd835;
$error-color: #f44336;
$accent-100: #2196f3;
$turquoise: #f3f8fd;
$teal: #26a69a;
$prediction-line: #fe5000;
$budget-line: #a5aebd;
$gray-95: #f2f2f2;
$dark-gray: #4e6173;
$red-400: #ef5350;
$disabled-gray-40: #e1e5eb80;

$main-font-size: 16;
